<launch>
<arg name="x_pos" default="7.69" />
    <arg name="y_pos" default="8.74" />
    <arg name="z_pos" default="0.00108" />
    <arg name="yaw" default="3.10" />

    <include file="$(find mr_robot_description)/launch/display.launch">
        <arg name="rvizconfig" value="$(find aruco_navigation)/rviz/aruco_navigation.rviz" />
    </include>
    <node args="-param robot_description -urdf -model mr_robot -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -Y $(arg yaw)" name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"/>


<include file="$(find gazebo_ros)/launch/empty_world.launch">
       <arg name="world_name" value="$(find aruco_navigation)/worlds/bot_world.world"/> 
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>
<rosparam file="$(find aruco_navigation)/config/aruco_navigation.yaml" command="load" />
</launch>


